body {
    background-color: #e9ebe5;
    text-align: center;
}

#myform {
    background-color:whitesmoke;
    width: 75%;
    margin: auto;
    min-height: 1050px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 10px;
    padding-top: 20px;
    font-size: 25px;
    font-family: 'Raleway';
}

    